:root{
--brand-color-1: #2E2F42;
--brand-color-2: #434455;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.header-logo,
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo-two{
    color: var(--brand-color-1);
}

.header-link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link:hover,
.header-link:focus{
    color: #404BBF;
}

.footer-logo-two{
    color: #F4F4FD;
}

.header-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color-1);
}

.address{
    font-style: normal;
}

.address-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color-2);
}

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}

.section-one{
    background-color: var(--brand-color-1);
}

.section-one-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.section-one-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.section-one-btn:hover,
.section-one-btn:focus{
background-color: #404BBF;
}

.section-two-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color-1);
}

.section-two-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color-2);
}

.section-three-title,
.section-four-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-color-1);
}

.section-four-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-color-1);
}

.section-four-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-color-2);
}

.section-four-item{
    background-color:#ffffff;
}

.footer{
    background-color: var(--brand-color-1);
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.list{
    list-style: none;
}

.portfolio-img-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color-1);
}

.portfolio-img-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color-2);
}

.link{
    text-decoration: none;
}

.section-four{
    background-color: #F4F4FD;
}

.portfolio-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    background-color: #F4F4FD;
}

.portfolio-btn:hover,
.portfolio-btn:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}

.portfolio-img-link{
    text-decoration: none;
}
